<!DOCTYPE html>
<html>
<head>
	<title>JEE PREP</title>
</head>
<body>
	<div class="questions" style="background-color: blue;height:500px;width: 80%px;margin-top: 4%;margin-left: 2%;margin-right: 2%" >
		</div>
	<div class="optiona" style="background-color: green;height:300px;width: 80%px;margin-top: 4%;margin-left: 2%;margin-right: 2%">
	</div>
	<div class="optionb" style="background-color: green;height:300px;width: 80%px;margin-top: 4%;margin-left: 2%;margin-right: 2%">
	</div>
	<div class="optionc" style="background-color: green;height:300px;width: 80%px;margin-top: 4%;margin-left: 2%;margin-right: 2%">
	</div>
	<div class="optiond" style="background-color: green;height:300px;width: 80%px;margin-top: 4%;margin-left: 2%;margin-right: 2%">
	</div>
</body>
<script type="text/javascript">
	//ajax call
</script>
</html>
